.venv
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.env.*.local
*.env.*.development
*.env.*.test
*.env.*.production